version: '2'
services:
  pgdb:
    image: postgres
  mongodb:
    image: mongo
  app:
    build: Rails/Front
    command: bundle exec puma -C config/puma.rb
    volumes:
      - ./Rails/Front:/var/www/pFlix
    expose:
      - "3000"
    depends_on:
      - pgdb
      - mongodb
    environment:
      - STRIPE_PUBLISHABLE_KEY=!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      - STRIPE_SECRET_KEY=!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  videoserver:
    build: VideoServer
    volumes:
      - ./VideoServer/data:/data
    links:
      - app
    ports:
      - "83:80"
  web:
      build:
        context: ./Rails/Front
        dockerfile: Dockerfile-Proxy
      links:
        - app
      ports:
        - "81:80"