<!-- <section id="recommended"></section> -->

<section id="top_movies" class="clearfix">
  <div class="wrapper">
    <header class="clearfix">
      <h2>Popular Movies</h2>
      <p class="view_more"><%= link_to 'View All Movies', movies_path %></p>
    </header>

    <div class="row">
      <div class="post">
        <img src="" alt="" />
        <h3>The Movie</h3>
        <p class="post_info">pg and minutes</p>
      </div>

      <div class="post">
        <img src="" alt="" />
        <h3>The Movie</h3>
        <p class="post_info">pg and minutes</p>
      </div>

      <div class="post">
        <img src="" alt="" />
        <h3>The Movie</h3>
        <p class="post_info">pg and minutes</p>
      </div>

      <div class="post">
        <img src="" alt="" />
        <h3>The Movie</h3>
        <p class="post_info">pg and minutes</p>
      </div>

      <div class="post">
        <img src="" alt="" />
        <h3>The Movie</h3>
        <p class="post_info">pg and minutes</p>
      </div>

      <div class="post">
        <img src="" alt="" />
        <h3>The Movie</h3>
        <p class="post_info">pg and minutes</p>
      </div>
    </div>

  </div>
  </section>

  <section id="top_shows"  class="clearfix">
    <div class="wrapper">
      <header class="clearfix">
        <h2>Popular Shows</h2>
        <p class="view_more">View All Shows</p>
      </header>

      <div class="row">
        <div class="post">
          <img src="" alt="" />
          <h3>The Movie</h3>
          <p class="post_info">pg and minutes</p>
        </div>

        <div class="post">
          <img src="" alt="" />
          <h3>The Movie</h3>
          <p class="post_info">pg and minutes</p>
        </div>

        <div class="post">
          <img src="" alt="" />
          <h3>The Movie</h3>
          <p class="post_info">pg and minutes</p>
        </div>

        <div class="post">
          <img src="" alt="" />
          <h3>The Movie</h3>
          <p class="post_info">pg and minutes</p>
        </div>

        <div class="post">
          <img src="" alt="" />
          <h3>The Movie</h3>
          <p class="post_info">pg and minutes</p>
        </div>

        <div class="post">
          <img src="" alt="" />
          <h3>The Movie</h3>
          <p class="post_info">pg and minutes</p>
        </div>
      </div>

    </div>
  </section>
