<h1>Home</h1>

<p>Welcome to pFlix. pFlix is a clone of NetFlix, created as an assignment for the module AC51041 - Devops And Microservices of University of Dundee</p>
<p>by Paris Messios</p>
<p>Student ID: 120007799</p>
<br>
<p>If you have an account <%= link_to 'Log in', new_user_session_path %> or if you don't then <%= link_to 'Sign up', new_user_registration_path %>! </p>
